* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

/*debug*/

.debug .tratteggiato {
    border: 5px dashed black;
}


.debug main .container {
    height: 500px;
    background-color: aqua;
}

.debug main .container .columns {
    background-color: yellow;
}

.debug footer .references {
    background-color: blueviolet;
}

.debug footer {
    background-color: green;
}

/*css*/

header {
    background-color: rgb(255, 105, 0);
    height: 80px;
}

.topbar {
    height: 100%;
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar .left-col a {
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.left-col {
    width: 20%;
}

.logo-col {
    width: 60%;
}

.logo-col img {
    display: block;
    margin: auto;
    height: 25px;
}

.right-col {
    color: white;
    width: 20%;
    text-align: end;
}

.right-col i {
    padding-left: 5px;
}

/*REGOLE MAIN*/

.container {
    max-width: 1170px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.columns {
    width: calc(100% / 3)
}


/*REGOLE FOOTER*/



.references {
    display: flex;
    justify-content: space-between;
    color: white;
    max-width: 1170px;
    margin: auto;
}