* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

/*debug*/




/*css*/

header {
    background-color: rgb(255, 105, 0);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.topbar {
    height: 100%;
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar .left-col a {
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.left-col {
    width: 20%;
}

.logo-col {
    width: 60%;
}

.logo-col img {
    display: block;
    margin: auto;
    height: 25px;
}

.right-col {
    color: white;
    width: 20%;
    text-align: end;
}

.right-col i {
    padding-left: 5px;
}

/*REGOLE MAIN*/

main {
    padding-top: 80px;
}

.container {
    max-width: 1170px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.columns {
    width: calc(100% / 3)
}


.productname {
    font-weight: bold;
}

.discprc {
    font-weight: bold;
    color: red;
}

.realprc {
    text-decoration: line-through;
}

span::after {
    content: "\20AC";
}

/*immagine interattiva*/

.columns .col {
    position: relative;
    margin: 15px;
}

.columns img{
    width: 100%;
}

.fstimg {
    position: absolute;
    top: 0;
    left: 0;
}

.sndimg {
    position: static;
}

.fstimg:hover {
    opacity: 0;
}

.col .fa-heart {
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px;
    font-size: 25px;
}

.flags{
    position: absolute;
    bottom: 100px;
    left: 0px;
}

.flaginfo {
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-right: 3px;
    padding: 3px 5px;
    font-size: 12px;
}

.backred {
    background-color: red;
}

.backgreen {
    background-color: green;
}

/*REGOLE FOOTER*/

footer {
    background-color: rgb(26, 26, 26);
}

.references {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 1170px;
    margin: auto;
    padding: 10px 0px;
}

.socinfo a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.utili {
    font-size: 12px;
    padding: 5px 0px;
}

.findus {
    text-align: center;
}

.social i{
    font-size: 25px;
    margin: 4px;
}