* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

/*debug*/

.debug .tratteggiato {
    border: 5px dashed black;
}


.debug main .container {
    background-color: aqua;
}

.debug main .container .columns {
    background-color: yellow;
}

.debug footer .references {
    background-color: blueviolet;
}

.debug footer {
    background-color: green;
}

.debug .columns img{
    width: 100%;
}
/*css*/

header {
    background-color: rgb(255, 105, 0);
    height: 80px;
}

.topbar {
    height: 100%;
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar .left-col a {
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.left-col {
    width: 20%;
}

.logo-col {
    width: 60%;
}

.logo-col img {
    display: block;
    margin: auto;
    height: 25px;
}

.right-col {
    color: white;
    width: 20%;
    text-align: end;
}

.right-col i {
    padding-left: 5px;
}

/*REGOLE MAIN*/

.container {
    max-width: 1170px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.columns {
    width: calc(100% / 3)
}


.productname {
    font-weight: bold;
}

.discprc {
    font-weight: bold;
    color: red;
}

.realprc {
    text-decoration: line-through;
}

span::after {
    content: "\20AC";
}

/*immagine interattiva*/

.columns .col {
    position: relative;
}

.fstimg {
    position: absolute;
    top: 0;
    left: 0;
}

.sndimg {
    position: static;
}

.fstimg:hover {
    display: none;
}

.col .fa-heart {
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px;
    font-size: 25px;
}

/*REGOLE FOOTER*/



.references {
    display: flex;
    justify-content: space-between;
    color: white;
    max-width: 1170px;
    margin: auto;
}